@font-face {
  font-family: 'Encode Sans Condensed';
  src: url(./assets/fonts/EncodeSansCondensed-Light.woff2) format('woff2'),
      url(./assets/fonts/EncodeSansCondensed-Light.woff) format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}



@font-face {
    font-family: 'Novecento';
    src: url(./assets/fonts/novecento_widenormal.woff2) format('woff2'),
         url(./assets/fonts/novecento_widenormal.woff) format('woff');
    font-weight: normal;
    font-style: normal;
  }



@import 'css/banner.scss';
@import 'css/sass/modules/variables.scss';
@import 'css/sass/modules/mixins.scss';
@import 'css/sass/modules/helpers.scss';
@import 'css/sass/modules/buttons.scss';



@import 'css/sass/partials/header/top-menu.scss';
@import 'css/sass/partials/header/main-header.scss';
@import 'css/sass/partials/header/breadcrumbs.scss';
@import 'css/sass/partials/header/mobile-headers.scss';

@import 'css/sass/partials/home/home-slide.scss';
@import 'css/sass/partials/home/show-products.scss';
@import 'css/sass/partials/home/buisness-desc.scss';
@import 'css/sass/partials/home/home_banner.scss';

@import 'css/sass/partials/footer/newsletter.scss';
@import 'css/sass/partials/footer/footer.scss';

@import 'css/sass/partials/posts/all-post.scss';
@import 'css/sass/partials/posts/single.scss';

@import 'css/sass/partials/pages/contact.scss';
@import 'css/sass/partials/pages/search.scss';
@import 'css/sass/partials/pages/error404.scss';
@import 'css/sass/partials/pages/other.scss';

@import 'css/sass/partials/woo/my-account.scss';
@import 'css/sass/partials/woo/wishlist.scss';
@import 'css/sass/partials/woo/cart.scss';
@import 'css/sass/partials/woo/category_page.scss';
@import 'css/sass/partials/woo/product.scss';
@import 'css/sass/partials/woo/columns.scss';
@import 'css/sass/partials/woo/discount_popup.scss';



