.d-f{
    display: flex;
}
.jc-c{
    justify-content: center;
}
.jc-sb{
    justify-content: space-between;
}
.ai-c{
    align-items: center;
}
.ai-start{
    align-items: flex-start;
}
.fxw-w{
    flex-wrap: wrap;
}
.title_main{
    font-size: 48px;
    color:$dark-grey;
    @include to ($breakpoint-md){
        font-size: 32px;
    }
}
.center{
    text-align: center;
}
.gold_line{
    position: relative;
    &:before{
        width: 40%;
        height: 1px;
        background-color: $border_color;
        content:'';
        display: block;
        left: 30%;
        bottom: -25px;
        position: absolute;
    }
    &:after{
        width: 16%;
        height: 5px;
        background: $gold_gradient;
        content:'';
        display: block;
        left: 42%;
        bottom: -27px;
        position: absolute;
    }
}
.bold{
    font-weight: bold;
}
.yith-wcwl-icon.fa{
    font-family:FontAwesome !important;
}
.title_page, .entry-title.main_title,.woocommerce-products-header__title.page-title{
    font-size: 48px;
    font-weight: 500;
    position: relative;
    // padding-left: 35px;
    border-bottom: 1px solid $main_grey;
    @include to ($breakpoint-xl){
        font-size: 32px;
    }
    @include to ($breakpoint-sm){
        font-size: 28px;
    }
    &:before{
        left:0;
        background: $gold_gradient;
        width: 18px;
        height: 100%;
        position: absolute;
        top: 0;
        display: block;
        // content: '';
    }
}
