

.mobileInfoBar{
    display: none;
    @include to($breakpoint-md){
        display: block;
    }
background-color: white;
width: 100%;
text-align: center;
padding:3px 0 ;
position: fixed;
top:0px;
z-index: 3;
font-family: 'Novecento';
font-weight: 800;
span{
font-weight: 900;
font-size: 22px;
}
hr{
    margin: 0;
    border-top: 1px solid $light_grey;

}
}

#wprmenu_bar{
top: 30px!important;
    background-color: white;
    .hamburger{
        .hamburger-box{
            .hamburger-inner{
                background-color: black;
                &::after{
                    background-color: black;
                }
                &::before{
                    background-color: black;
                }
            }
        }
    }

    .menu_title{
        left: calc( 50% - 27px);
    }

    
}

.mobileIconsContainer{
top: 120px!important;
    background-color: white;
    border-top: 1px solid $light_grey ;
    border-bottom: 1px solid $light_grey ;
    padding:0;
.header_icons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    li{
        padding:5px;
    flex-grow: 1;
    align-self: center;
    justify-content: center;
        display: flex;
        a{
            width: 24px;
            height: 24px;
            i{
                font-size:24px;
            }
            img{
                width: 24px;
            }
        }
 
 &:nth-child(2){
     border-right: 1px solid $light_grey;
     border-left: 1px solid $light_grey;
 }
    }
}
}